/* style.css */
@font-face {
  font-family: IBMPlexMono-Regular;
  src: url(IBMPlexMono-Regular.ttf);
}


body {
    margin: 0;
    font-family: IBMPlexMono-Regular,monospace;
}

.navbar {
    background-color: rgb(201, 225, 241);
    padding: 15px 20px;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar a {
    color: rgb(65, 61, 73);
    text-decoration: none;
    margin-left: 15px;
}

.content {
    margin-top: 70px;
    padding: 20px;
}

.box {
    width: 80%;
    max-width: 600px;
    min-width: 200px;
    height: auto;
    background: lightblue;
    border: 2px solid rgb(145, 145, 255);
    margin: 20px auto;
    padding: 20px;
}
